# Your API_HASH from https://my.telegram.org/auth
API_ID=

# Your API_HASH from https://my.telegram.org/auth
API_HASH=

# Your telegram bot token from https://t.me/BotFather
TELEGRAM_BOT_TOKEN=

# Telegram user ID of admins, or - to assign no admin
ADMIN_USER_IDS=ADMIN_1_USER_ID,ADMIN_2_USER_ID

# Comma separated list of telegram user IDs, or * to allow all
ALLOWED_TELEGRAM_USER_IDS=*