# Your API_HASH from
API_ID=

# Your API_HASH from
API_HASH=""

# Your telegram bot token from @botfather
TELEGRAM_BOT_TOKEN=""

# Name for your bot
TELEGRAM_BOT_USERNAME=""

CHAT_ID=

# Your phone number in international format
PHONE_NUMBER=""